@mixin regular-font{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #272727;
}

@mixin title-font{
  font-family: Anglecia Pro Title;
  font-style: italic;
  font-weight: bold;
}

@mixin flex-between{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@mixin main-color{
  color: #272727;
}

@mixin dark-bg{
  background-color: #272727;
}

@mixin dark-title-params{
  font-size: 50px;
  line-height: 50px;
  color: #FCFBF7;

  @media screen and (max-width: 992px){
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 360px){
    font-size: 32px;
  }
}