@import '../mixins';

header{
  min-height: 4vh;
  margin-top: 3vh;
  margin-bottom: 3vh;

  position: fixed;
  width: 100%;

  opacity: 1;
  transition: opacity .4s ease;

  z-index: 5;

}

.header-off{
  opacity: 0;
  transition: opacity .4s ease;
}

.header-container{
  @include flex-between;
}

@media (max-width: 992px){
  header{
    display: none !important;
  }
}