@import '../variables';

.line-container{
  width: 100%;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
}

.line{
  width: 1.4px;
  height: 0;
  background: #ffffff;
  transition: height .5s ease;
  @media screen and (max-width: 992px){
    display: none;
  }
}

.full-line{
  height: $dark-height;
  transition: height .5s ease;
}

