@import '../mixins';

.nav{
  @include regular-font;
  @include flex-between;
  transition: color .4s ease;  

  font-size: 18px;

  p{
    margin-bottom: 0;
  }

  .toggle{
    width: 30px;
    height: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 20px;

    cursor: pointer;
    span{
      height: 3px;
      display: block;
      &:first-child{
        width: 100%;
      }
      &:last-child{
        width: 55%;
      }
    }
  }
}

.nav-span{
  @include dark-bg;
  transition: color .4s ease;
}

.nav-span-mobile{
  @include dark-bg;
  transition: color .4s ease;
}

.span-white{
  background-color: #ffffff;
  transition: color .4s ease;
}

.nav-white{
  color: #fff;
  transition: color .4s ease;
}

@media (max-width: 992px){
  .nav{
    p{
      display: none;
    }
  }
}