.portfolio{
  .col-12{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
}

@media (max-width: 992px){
  .portfolio{
    .col-12{
      height: 775px;
    }
  }
}

@media (max-width: 778px){
  .portfolio{
    .col-12{
      height: 750px;
    }
  } 
}

@media (max-width: 576px){
  .portfolio{
    .col-12{
      height: 650px;
    }
  } 
}

@media (max-width: 360px){
  .portfolio{
    .col-12{
      height: 550px;
    }
  } 
}