@import '../mixins';
@import '../variables';

$side-padding: 60px;
$fixing-padding: 5px;

.about__left_none{
  overflow: hidden;
  p,h3,a{
    transform: translate(-200%);
    transition: transform .6s ease;
  }
}

.about__right_none{
  overflow: hidden;
  p,h3,a{
    transform: translate(200%);
    transition: transform .6s ease;
  }
}

.about_active{
  transform: translate(0) !important;
  transition: transform .6s ease !important;
}

.about{

  height: $dark-height;
  @include dark-bg;

  position: relative;

  &__content{

    width: 370px;


    p{
      @include regular-font;
      font-size: 24px;
      color: #B3B2AD
    }

    h3{
      @include title-font;
      @include dark-title-params;
      margin-bottom: 30px;
    }

    a{
      @include regular-font;
      font-weight: 500;
      font-size: 18px;
      font-style: italic;
      color: #2FFF97 !important;
      display: block;
      span{
        margin-left: 23px;
        margin-top: 1px;
        margin-right: 5px;
      }
    }

    &:first-child{
      padding-top: 20vh;
      text-align: end;
      padding-right: $side-padding;
      p,h3,a{
        padding-right: $fixing-padding;
      }
    }

    &:last-child{
      padding-top: 45vh;
      text-align: start;
      padding-left: $side-padding;
      p,h3,a{
        padding-left: $fixing-padding;
      }
    }
  }
}

@media (max-width: 992px){
  .about{
    height: $dark-height;
    &__content{
      &:first-child, &:last-child{
        text-align: center;
        padding: 0;
        p,h3,a{
          padding-left: 0;
          padding-right: 0;
        }
      }
      &:first-child{
        padding-top: 105px;
      }
      &:last-child{
        padding-top: 85px;
      }

      span{
        font-size: 18px;
      }

      a{
        font-size: 14px;
      }
    }
  }
}