@import '../mixins';

.hero{
  height: 90vh;
}

.hero-labels{
  p{
    @include regular-font;

    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    
    color: #B3B2AD;

    b{
      @include main-color;
      font-weight: 600;
    }
    
  }

  &:last-child{
    p{
      text-align: end;
    }
  }
}

@media (max-width: 992px){
  .hero{
    min-height: 95vh;
  }

  #right-label{
    margin-top: 1rem;
  }
}