@import '../mixins';

.hero{
  height: 90vh;
  .container-xl{
    height: 100% !important;
  }
}

.hero-labels{
  p{
    @include regular-font;

    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    
    color: #B3B2AD;

    b{
      @include main-color;
      font-weight: 600;
    }
    
  }

  &:last-child{
    p{
      text-align: end;
    }
  }
}

@media (max-width: 992px){
  .hero{
    min-height: 85vh;
  }

  #right-label{
    margin-top: 1rem;
  }
}

@media (max-width: 576px){
  .hero{
    .container-xl{
      height: 90% !important;
    }
    p{
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      br{
        display: none;
      }
    }
  }
}